
{{!-- Name {{furniture.furnitureName}} --}}

{{!-- img <img src="{{furniture.imageURL}}" alt="Image unavailable" class="img-fluid"> --}}

<div id="furniture-summary">
    {{#each furniture.categories}}
        <a href="{{this.dataValues.category}}">{{this.dataValues.category}}</a>
    {{/each}}/                                                   
</div>

<div class="d-flex mb-4">
    <div class = "col-7 h-100">
        <div class="border">    
            <img src="{{furniture.imageURL}}" alt="Image unavailable" class="img-fluid p-4">
        </div>
    </div>

    <div class = "col-5 h-100">
        <div class="p-4 mx-2" style = "background-color: #F8F8F8;">
            <h4>{{furniture.furnitureName}}</h4>
            <hr>

            <div class="d-flex">
                <h3>${{furniture.cost}}</h3>
                {{!-- Add quantity somewhere here? --}}
            </div>

            <hr>

            <h4 class="mb-2">About product</h4>
            <p class = "p-2 border">{{furniture.description}}</p>
            <a href="/addToCart/{{id}}" class="btn furnitureCartButton" style="padding-top: 10px; padding-bottom: 10px;"><i class="fas fa-plus"></i> Add To Cart</a>
        </div>
    </div>
</div>


<div class="border p-3 mx-3">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
{{!-- 
    <div class="rating">
        <input type="radio" name="star" id="star5" value="5">
        <label for="star5"></label>
        <input type="radio" name="star" id="star4" value="4">
        <label for="star4"></label>
        <input type="radio" name="star" id="star3" value="3">
        <label for="star3"></label>
        <input type="radio" name="star" id="star2" value="2">
        <label for="star2"></label>
        <input checked type="radio" name="star" id="star1" value="1">
        <label for="star1"></label>
    </div>   --}}
    {{#each review}}
        <p>{{review}}</p>
    {{/each}}
</div>


<form method="post" action="/furniture/item/reviewSubmit/{{furniture.id}}">

    <div class="rating">
        <input type="radio" name="star" id="star5" value="5">
        <label for="star5"></label>
        <input type="radio" name="star" id="star4" value="4">
        <label for="star4"></label>
        <input type="radio" name="star" id="star3" value="3">
        <label for="star3"></label>
        <input type="radio" name="star" id="star2" value="2">
        <label for="star2"></label>
        <input checked type="radio" name="star" id="star1" value="1">
        <label for="star1"></label>
    </div>

    <hr>

    <p>Review for {{furniture.furnitureName}}:</p>
    <textarea class="form-control" name="reviewText" rows="3" required></textarea>
    

    <input class="btn btn-primary" type="submit" value="Submit">
</form>

