
<div class="card card-body">

    <div id="furniture-summary">
        {{!-- {{furnitures.length}} test --}}
        Search Results for: "{{searchInputEnter}}", {{resultsFound}} results found.
    </div>

    <div>
        <div class="pt-2 d-flex flex-wrap">
            <div class="mb-4 col-sm-12 col-md-4">
                <h5 class="font-weight-bold border-bottom">Themes</h5>
                <div class="btn-group-toggle" id="furniture-search-themes" data-toggle="buttons">
                    {{#each themes}}
                    <label class="btn btn-yellow btn-sm {{#ifIn this @root.queryThemes}}active{{/ifIn}}" id="{{this}}" onclick="tagChange(this)">
                        <input type="checkbox" name="Theme:{{this}}" {{#ifIn this @root.queryThemes}}checked{{/ifIn}}> {{this}}
                    </label>
                    {{/each}}
                </div>
            </div>
            
            <div class="mb-4 col-sm-12 col-md-4">
                <h5 class="font-weight-bold border-bottom">Categories</h5>
                <div class="btn-group-toggle" id="furniture-search-categories" data-toggle="buttons">
                    {{#each categories}}
                    <label class="btn btn-yellow btn-sm {{#ifIn this @root.queryCategories}}active{{/ifIn}}" id="{{this}}" onclick="tagChange(this)">
                        <input type="checkbox" name="Category:{{this}}" {{#ifIn this @root.queryCategories}}checked{{/ifIn}}> {{this}}
                    </label>
                    {{/each}}
                </div>
            </div>
            
            {{!-- Sort Order --}}
            <div class="mb-4 col-sm-12 col-md-4">
                <h5 class="font-weight-bold border-bottom">Sort Order</h5>
                <select class="ml-1" id="sortOrderSelect" onchange="refreshPage()">
                    <option value="recent" {{#ifCond sort "==" "recent"}}selected{{/ifCond}}>Recent</option>
                    <option value="cost-ASC" {{#ifCond sort "==" "cost-ASC"}}selected{{/ifCond}}>Price - Ascending</option>
                    <option value="cost-DESC" {{#ifCond sort "==" "cost-DESC"}}selected{{/ifCond}}>Price - Descending</option>
                    <option value="actualRating-DESC" {{#ifCond sort "==" "actualRating-DESC"}}selected{{/ifCond}}>Rating - Descending</option>
                    <option value="actualRating-ASC" {{#ifCond sort "==" "actualRating-ASC"}}selected{{/ifCond}}>Rating - Ascending</option>
                </select>
            </div>

        </div>
        <hr>

        <div>

            {{!-- Furnitures --}}
            {{#if furnitures}}
            <div class="d-flex flex-wrap">

                {{#each furnitures}}
                
                    <div class="p-2 col-sm-6 col-md-4 col-lg-3">
                        <div class="card" style="height:100%">
                            <div class="position-relative furnitureSearchImage supercenter">
                                <btn class="furnitureDetailsButton" data-toggle="modal" data-target="#modal{{id}}">Quick View</btn>
                                <a href="/furniture/item/{{id}}" >
                                    <img id="image" src="{{imageURL}}" alt="" class="img-fluid mt-1" style="width:100%; max-height: 600px;">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="font-weight-bold">{{furnitureName}}</p>
                                <div class = "md-2 align-text-bottom">
                                    {{#ifCond rating '==' 0}}
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    {{/ifCond}}
                                    {{#ifCond rating '==' 1}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    {{/ifCond}}
                                    {{#ifCond rating '==' 2}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    {{/ifCond}}
                                    {{#ifCond rating '==' 3}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    {{/ifCond}}
                                    {{#ifCond rating '==' 4}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    {{/ifCond}}
                                    {{#ifCond rating '==' 5}}
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    {{/ifCond}}
                                </div>
                                ({{actualrating}} out of 5)
                                {{!-- Modal Section --}}
                                <div class="modal fade" id="modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                
                                                <div class="d-flex flex-wrap h-100">

                                                    <div class="border col-sm-12 col-md-6 supercenter">
                                                        <img src="{{imageURL}}" alt="Image unavailable">
                                                    </div>

                                                    <div class="border col-sm-12 col-md-6 p-4 d-flex flex-column h-100">
                                                        <h5 class="font-weight-bold border-bottom pb-2 mb-4">{{furnitureName}}</h5>

                                                        <div class="overflow-auto">
                                                            <div class="d-flex border-bottom pb-1 mb-4">
                                                                <div class="col-5">
                                                                    <p class="font-italic">ID: <span class="text-info">{{id}}</span></p>
                                                                </div class="col-5">
                                                                <div>
                                                                    <p class="font-italic">Cost: <span class="text-info">${{cost}}</span></p>
                                                                </div>
                                                            </div>

                                                            <div class="container border-bottom pb-1 mb-4">
                                                                <p class="font-italic">Dimensions: (L x W x H): </p>
                                                                <p class="text-info">{{lengthmm}}mm x {{widthmm}}mm x {{heightmm}}mm</p>
                                                            </div>
                                                            
                                                            
                                                            <div>
                                                                <p class="font-italic my-1 col-12">Themes</p>
                                                                <div class="d-flex container border-bottom pb-1 mb-4">
                                                                    {{#each themes}}
                                                                        <a href="/furniture/themes/{{this.dataValues.theme}}" class="btn btn-sm" id="{{this}}">
                                                                            {{this.dataValues.theme}}
                                                                        </a>
                                                                    {{/each}}
                                                                </div>
                                                            </div>				

                                                            <div>
                                                                <p class="font-italic col-12">Categories</p>
                                                                <div class="d-flex container border-bottom pb-1 mb-4">
                                                                    {{#each categories}}
                                                                        <a href="/furniture/categories/{{this.dataValues.category}}" class="btn btn-sm" id="{{this}}">
                                                                            {{this.dataValues.category}}
                                                                        </a>
                                                                    {{/each}}
                                                                </div>
                                                            </div>

                                                            <div class="mb-4">
                                                                <p class="font-italic col-12">Description</p>
                                                                <div class="border container rounded p-2">
                                                                    {{description}}
                                                                </div>
                                                            </div>

                                                            {{!-- Add to Cart button --}}
                                                            <a href="/addToCart/{{id}}" class="btn furnitureCartButton" style="padding-top: 5px; padding-bottom: 5px;"><i class="fas fa-plus"></i> Add To Cart</a>

                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {{/each}}

            </div>
            {{else}}
            <h2 class="background"><span>No Furniture Found</span></h2>
            {{/if}}
            {{!--  --}}
            
        </div>
    </div>

</div>


<script>
    function tagChange(thisVal){
        if (thisVal.getElementsByTagName('INPUT')[0].checked){
            thisVal.getElementsByTagName('INPUT')[0].checked = false
        } else {
            thisVal.getElementsByTagName('INPUT')[0].checked = true
        }
        refreshPage()
    }

  function refreshPage(){
    //get search value
    var urlParams = JSON.parse('{"' + location.search.substring(1).replace(/&/g, '","').replace(/=/g,'":"') + '"}', function(key, value) { return key===""?value:decodeURIComponent(value) }) 
    var search = urlParams.searchInput
    //OBJECTIVE: GET COOKIES FOR THEME AND CATEGORIES TO INSERT IN
    //select div containing themes and get al id of child nodes that has active
    var themes = []
    $("#furniture-search-themes").children("label").map(function(){
      if ($(this).children(':checkbox').prop("checked") == true){
        themes.push($(this).attr('id'))
      }
    });
    
    var categories = []
    $("#furniture-search-categories").children("label").map(function(){
      if ($(this).children(':checkbox').prop("checked") == true){
        categories.push($(this).attr('id'))
      }
    });

    var sortOrder = document.getElementById("sortOrderSelect").value

    //CREATE object of {theme: [monochrome, wood], category: [wood]}
    var searchThemeAndCategories = {"searchInput": search, "themes": themes, "categories": categories, "order": sortOrder};

    //Set cookie for page reload to save y-axis
    var page_y = document.documentElement.scrollTop || document.body.scrollTop;
    document.cookie = "page_y="+page_y.toString()+";max-age=60;domain=;path=/"
    //CONVERT object to url using var queries = $.param(sear1ched)
    window.location.replace( window.location.origin+ "/furniture/search?" + $.param(searchThemeAndCategories) ); //return page with cookie
  }

  //Reload on proper y-axis on page load
  window.onload = function () {
    var page_y_cookie = getCookie("page_y") //function in main.js, cookie is page y value
    if ( page_y_cookie ) {
      document.cookie = "page_y=0;expires=Thu, 01 Jan 1970 00:00:00;domain=;path=/" //set cookie to none
      document.documentElement.scrollTop = document.body.scrollTop = page_y_cookie; //set page y to cookie y
    }

    if (document.getElementById("searchInput").value.length > 0){
        let searchInput = {searchInput: document.getElementById("searchInput").value.split(' ')}
        //remove empty strings when splitting
        searchInput.searchInput = searchInput.searchInput.filter(function(searchValue){
            return (searchValue != '')
        }) //get search value

        productsDiv = document.getElementById('search-products-items')
        themesDiv = document.getElementById('search-theme-items')
        categoriesDiv = document.getElementById('search-category-items')
        //categories, products
        //no category found 
        fetch('/searchValue', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(searchInput)
        }).then((res)=>{
            res.json().then((data) => {
                furnitureData = data['furniture']
                categoryData = data['category']
                themeData = data['theme']
                productsDiv.innerHTML = ''
                categoriesDiv.innerHTML = ''
                themesDiv.innerHTML = ''
                //Section 1: Making Category Tabs
                if (furnitureData == []){furnitureData = ['']}
                if (categoryData == []){categoryData = ['']}

                var searchData = searchInput.searchInput
                if (categoryData.length != 0){
                    categoryData.forEach((category)=>{
                        /*Make the matching letters bold:*/
                        //Part 1: getting data

                        eachItem = document.createElement("DIV"); //each item
                        eachItem.classList.add("align-items-center")
                        eachItem.classList.add("search-items-each")

                        textContainer = "<div class='search-items-text'>" + category + "</div>"
                        eachItem.innerHTML = textContainer

                        //Link it
                        eachItemLink = document.createElement("a");
                        eachItemLink.setAttribute("href", "/furniture/"+category)
                        eachItemLink.appendChild(eachItem)

                        //Append it
                        categoriesDiv.appendChild(eachItemLink);
                    })

                } else {  
                    eachItem = document.createElement("DIV");
                    eachItem.classList.add("search-items-each")
                    eachItem.innerHTML = "<strong>No category found</strong>";
                    categoriesDiv.appendChild(eachItem);
                }

                //Section 1.5: Making theme tabs
                if (furnitureData == []){furnitureData = ['']}
                if (themeData == []){themeData = ['']}

                var searchData = searchInput.searchInput
                if (themeData.length != 0){
                    themeData.forEach((theme)=>{
                        /*Make the matching letters bold:*/
                        var boldedText = theme                    
                        for (i in searchData){
                            word = searchData[i]
                            if (boldedText.toLowerCase().startsWith(word.toLowerCase())){
                                boldedText = "<b class='font-weight-bold'>" + boldedText.substring(0, word.length) + "</b>" + boldedText.substring(word.length)
                                break
                            }
                        }                     

                        eachItem = document.createElement("DIV"); //each item
                        eachItem.classList.add("align-items-center")
                        eachItem.classList.add("search-items-each")

                        textContainer = "<div class='search-items-text'>" + boldedText + "</div>"
                        eachItem.innerHTML = textContainer

                        //Link it
                        eachItemLink = document.createElement("a");
                        eachItemLink.setAttribute("href", "/furniture/themes/"+theme)
                        eachItemLink.appendChild(eachItem)

                        //Append it
                        themesDiv.appendChild(eachItemLink);
                    })

                } else {  
                    eachItem = document.createElement("DIV");
                    eachItem.classList.add("search-items-each")
                    eachItem.innerHTML = "<strong>No theme found</strong>";
                    themesDiv.appendChild(eachItem);
                }

                //Section 2: Making furniture tabs
                searchCounter = document.getElementById("search-seeAll");
                if (furnitureData.length != 0){
                    furnitureData.forEach((object)=>{

                        /*Make the matching letters bold:*/
                        //Part 1: getting data
                        var boldedTest = object.furnitureName

                        var word, allIndexes = []
                        for (i in searchData){
                            searchLength = searchData[i].length
                            word = searchData[i]
                            allIndexes = allIndexes.concat(getIndicesOf(word, boldedTest))
                        } 
                        allIndexes = allIndexes.sort(function(arrayOne, arrayTwo) { return arrayOne[0]-arrayTwo[0]} ) //sorted array of all data
                        
                        //Part 2: combining parts
                        var indexPart2 = 0, newArray = []
                        while (indexPart2 < (allIndexes.length)-1 ){
                            if (allIndexes[indexPart2][2] > allIndexes[indexPart2+1][0]){ //if end index > start index (which means combine)
                                if (allIndexes[indexPart2[2] >= allIndexes[indexPart2+1][2]]){ // if contained e.g search = Hello ello
                                    //No change, remove second index
                                    allIndexes = allIndexes.splice(indexPart2+1, 1)
                                } else { //if not contained e.g search = Hello lover
                                    //combine them
                                    newArray = [allIndexes[indexPart2][0],
                                    allIndexes[indexPart2][1].substring( allIndexes[indexPart2][0], allIndexes[indexPart2+1][0] ) + allIndexes[indexPart2+1][1],
                                    allIndexes[indexPart2+1][2]] //create new Array
                                    // allIndexes = allIndexes.splice(indexPart2, 2, newArray) //remove first two, replace array
                                    allIndexes.splice(indexPart2, 2, newArray)
                                }
                            } else { //if no need change, move on
                                indexPart2 += 1
                            }
                        }

                        //Part 3: replacing parts
                        var singleArray=[], part3Counter = 0
                        for (i in allIndexes){
                            singleArray = allIndexes[i]
                            boldedTest = boldedTest.substring(0, singleArray[0]+(part3Counter*32)) + "<b class='font-weight-bold'>" + singleArray[1] + "</b>" + boldedTest.substring(singleArray[2]+(part3Counter*32)) 
                            part3Counter += 1
                        }

                        //28 and 4
                        //boldedTest is the new bolded text, b is a div in search-div

                        eachItem = document.createElement("DIV"); //each item
                        eachItem.classList.add("d-flex")
                        eachItem.classList.add("align-items-center")
                        eachItem.classList.add("search-items-each")
                        eachItem.classList.add("flex-wrap")


                        //add image and text
                        image = "<img src='" + object.imageURL + "' alt='' style='max-width: 100%; max-height: 100%'>"
                        imageContainer = "<div class='col-sm-12 col-md-3 searchImageToDelete'>" + image + "</div>"
                        textContainer = "<div class='col-sm-12 col-md-9 search-items-text'>" + boldedTest + "</div>"
                        eachItem.innerHTML = imageContainer + textContainer
                        eachItemLink = document.createElement("a"); //each item
                        eachItemLink.setAttribute("href", "/furniture/item/"+object.id)
                        eachItemLink.appendChild(eachItem)
                        productsDiv.appendChild(eachItemLink);

                        //counter at bottom
                        searchCounter.textContent = "See all (" + data['furnitureCount'] + ") results matching '" + document.getElementById("searchInput").value +"'"
                    })

                } else {  
                    eachItem = document.createElement("DIV");
                    eachItem.classList.add("search-items-each")
                    eachItem.innerHTML = "<strong>No items found</strong>";
                    productsDiv.appendChild(eachItem);

                    searchCounter.value = "No Results"
                }

            })
        });
        //func end

    }
}
</script>