<div class="card card-body mb-4">
    {{!-- https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior --}}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password"
                aria-selected="false">Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address"
                aria-selected="false">Address</a>
        </li>
    </ul>

    <hr>

    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container">
                <h2>Hello! {{user.name}}</h2>
                <hr>
                <p>User ID: {{ user.id }}</p>
                <p>Full Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Membership Type: {{#if user.admin }} Admin {{else}} Normal User {{/if}}</p>

            </div>
        </div>


        <div class="tab-pane fade " id="password" role="tabpanel" aria-labelledby="password-tab">
            <div class="container">
                {{#ifCond user.googleId '==' null}}
                <form action="/user/changePassword" method="POST">
                    <p class="border-bottom font-weight-bold mb-2">Existing Password</p>
                    <p class="detailText">For security reasons, you must verify your existing password before you can set a new one.</p>
                    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-between p-0 mb-2" style="flex-flow: row wrap">
                        <label >Your Existing Password</label>
                        <input id="existingPassword" class="border border-rounded" type="password" name="existingPassword" required>
                    </div>
                    <p class="border-bottom font-weight-bold mb-2">New Password</p>
                    <p class="detailText">Enter your new password below.</p>
                    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5  d-flex justify-content-between p-0 mb-2" style="flex-flow: row wrap">
                        <label >New Password</label>
                        <input id="password1" class="border border-rounded" style="" type="password" name="newPassword1" required>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5  d-flex justify-content-between p-0" style="flex-flow: row wrap">
                        <label >Confirm Password</label>
                        <input id="password2" class="border border-rounded" style="" type="password" name="newPassword2" required>
                    </div>
                    <hr>
                    <div class="d-flex">
                        <button class="btn btn-yellow text-white ml-auto" id="searchButton" type="submit">Save Password</button>
                    </div>
                </form>
                {{else}}
                <p>You have a google account, nothing to change here!</p>
                {{/ifCond}}
            </div>
        </div>

        <div class="tab-pane fade show" id="address" role="tabpanel" aria-labelledby="address-tab">
            <div class="container">
                {{#if addresses}}
                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-9">
                            <h3 class="mt-2">Address</h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <a href="/user/AddAddress" class="btn btn-yellow pull-right mb-3">Add Address</a>
                        </div>
                    </div>
                    {{#each addresses}}
                        <div class="card border-primary mb-2 w-100 mx-auto">
                            <div class="card-header">
                                <h5 class="card-title mb-0 pl-3">{{address}}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div class="col-sm-12 col-md-6 col-lg-">
                                            <p class="font-italic">Postal Code: {{postal}}</p>
                                        </div>  
                                        <div class="col-sm-12 col-md-6 col-lg-5">
                                            <p class="font-italic">Unit Number: {{unitNo}}</p>
                                        </div>  
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <a href="address/edit/{{id}}" class="card-link">
                                            <i class="fas fa-pencil-alt"></i>
                                            Edit
                                        </a>
                                        <a href="address/delete/{{id}}" class="card-link" data-toggle="confirmation" data-title="Confirm delete?">
                                            <i class="far fa-trash-alt"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {{/each}}
                </div>

                {{else}}
                <div class="card card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-9">
                            <h3 class="mt-2">No Address, please add.</h3>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <a href="/user/AddAddress" class="btn btn-yellow pull-right mb-3">Add Address</a>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>


</div>
