<h1 class="display-4">Question List</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Feedback Type</th>
                <th>Feedback</th>
                <th>Answer</th>
            </tr>
        </thead>
        <br>
        <tbody>
            {{#each feedbacks}}
            <tr>
                <td align="center">{{ id }}</td>
                <td>{{ 'user.name' }}</td>
                <td>{{ 'user.email' }}</td>
                <td>{{ feedbacktype }}</td>
                <td>{{ feedback }}</td>
                <td>{{ answer }}</td>
             </tr>
             {{/each}}
        </tbody>
    </table>
</div>